<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
        <% if (typeof styles !== "undefined") { %>
            <link rel="stylesheet" href="<%= styles %>">
        <% } %>
    </head>
    <body>
        <div id="wrapper">
            <%- include('../partials/header') %>
            <br>
            <%- include('../partials/navigation') %>
            <main>
                <%- body %>
            </main>
            <%- include('../partials/footer') %>
        </div>
        <script src="/js/script.js"></script>
</body>
</html>
